<div class="united-states-of-america-shares-add-bought">
  <div class="services-add-scripts-bought">
    <app-united-states-of-america-shares-add-shares-header
      (onBackButtonClicked)="onBackButtonClicked()"
    ></app-united-states-of-america-shares-add-shares-header>
    <div class="services-add-scipts-box">
      <h3 class="services-add-scipts-heading">
        Fill the details below
      </h3>
      <div class="services-add-scipts-form-container">
        <div class="services-add-scipts-form">
          <div class="key">Split/Bonus</div>
          <div class="value">
            <app-money-manager-check-box
              [resetCheckBox]="resetBonusSplitCheckBox"
              [checkBoxList]="bonusSplitCheckBoxList"
              (onCheckBoxSelect)="onBonusSplitSelect($event)"
            ></app-money-manager-check-box>
          </div>
        </div>
        <div *ngIf="isBonusCheckBoxSelected">
          <div class="services-add-scipts-form">
            <div class="key">Bonus Ratio</div>
            <div class="value">
              <input
                type="text"
                id="bought-united-states-of-america-share-bonus-ratio"
                placeholder="Bonus Ratio"
                (focus)="inputOnFocus('bought-united-states-of-america-share-bonus-ratio')"
                [(ngModel)]="bonusRatio"
              />
              <app-input-field-error
                *ngIf="errorFlagBonusRatio"
                [errorMessage]="errorMessageBonusRatio"
              ></app-input-field-error>
            </div>
          </div>
          <div class="services-add-scipts-form">
            <div class="key">Bonus Date</div>
            <div class="value">
              <span id="bought-united-states-of-america-share-bonus-date"></span>
              <app-money-manager-date-picker
                [resetDatePicker]="resetBonusDatePicker"
                (onSelectedFullDate)="onBonusDateSelect($event)"
              ></app-money-manager-date-picker>
              <app-input-field-error
                *ngIf="errorFlagBonusDate"
                [errorMessage]="errorMessageBonusDate"
              ></app-input-field-error>
            </div>
          </div>
        </div>
        <div *ngIf="isSplitCheckBoxSelected">
          <div class="services-add-scipts-form">
            <div class="key">Split Ratio</div>
            <div class="value">
              <input
                type="text"
                id="bought-united-states-of-america-share-split-ratio"
                placeholder="Split Ratio"
                (focus)="inputOnFocus('bought-united-states-of-america-share-split-ratio')"
                [(ngModel)]="splitRatio"
              />
              <app-input-field-error
                *ngIf="errorFlagSplitRatio"
                [errorMessage]="errorMessageSplitRatio"
              ></app-input-field-error>
            </div>
          </div>
          <div class="services-add-scipts-form">
            <div class="key">Split Date</div>
            <div class="value">
              <span id="bought-united-states-of-america-share-split-date"></span>
              <app-money-manager-date-picker
                [resetDatePicker]="resetSplitDatePicker"
                (onSelectedFullDate)="onSplitDateSelect($event)"
              ></app-money-manager-date-picker>
              <app-input-field-error
                *ngIf="errorFlagSplitDate"
                [errorMessage]="errorMessageSplitDate"
              ></app-input-field-error>
            </div>
          </div>
        </div>
        <div class="services-add-scipts-form">
          <div class="key">Yahoo Code</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-yahoo-code"
              placeholder="Yahoo Code"
              (focus)="inputOnFocus('bought-united-states-of-america-share-yahoo-code')"
              [(ngModel)]="yahooCode"
              (change)="getShareName()"
            />
            <app-input-field-error
              *ngIf="errorFlagYahooCode"
              [errorMessage]="errorMessageYahooCode"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">ISIN Code</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-isin-code"
              placeholder="ISIN Code"
              (focus)="inputOnFocus('bought-united-states-of-america-share-isin-code')"
              [(ngModel)]="isinCode"
            />
            <app-input-field-error
              *ngIf="errorFlagIsinCode"
              [errorMessage]="errorMessageIsinCode"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">CUSIP</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-cusip"
              placeholder="CUSIP"
              (focus)="inputOnFocus('bought-united-states-of-america-share-cusip')"
              [(ngModel)]="cusip"
            />
            <app-input-field-error
              *ngIf="errorFlagCusip"
              [errorMessage]="errorMessageCusip"
            ></app-input-field-error>
          </div>
        </div>

        <div class="services-add-scipts-form">
          <div class="key">Share Name</div>
          <div class="value">
            <div id="bought-united-states-of-america-share-script-name" class="services-add-scipts-script-name">
              <label *ngIf="shareNameLoading;else shareNameTemplate">
                <app-money-manager-loading></app-money-manager-loading>
              </label>
              <ng-template #shareNameTemplate>
                <label>
                  {{ shareName }}
                </label>
              </ng-template>
            </div>
            <app-input-field-error
              *ngIf="errorFlagShareName"
              [errorMessage]="errorMessageShareName"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Category</div>
          <span id="bought-united-states-of-america-share-category"></span>
          <div class="value">
            <app-money-manager-dropdown
              [resetDropdown]="resetCategoryDropdown"
              [dropdownList]="categoryList"
              (onDropdownSelect)="onCategorySelect($event)"
            ></app-money-manager-dropdown>
            <div>
              <app-input-field-error
                *ngIf="errorFlagCategory"
                [errorMessage]="errorMessageCategory"
              ></app-input-field-error>
            </div>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Sector</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-sector"
              placeholder="Sector"
              (focus)="inputOnFocus('bought-united-states-of-america-share-sector')"
              [(ngModel)]="sector"
            />
            <app-input-field-error
              *ngIf="errorFlagSector"
              [errorMessage]="errorMessageSector"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Industry</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-industry"
              placeholder="Industry"
              (focus)="inputOnFocus('bought-united-states-of-america-share-industry')"
              [(ngModel)]="industry"
            />
            <app-input-field-error
              *ngIf="errorFlagIndustry"
              [errorMessage]="errorMessageIndustry"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Short Term Investment</div>
          <div class="value">
            <span>
              <app-money-manager-radio
                [resetRadio]="shortTermInvestmentResetRadio"
                [radioList]="shortTermInvestmentRadioList"
                [radioDefault]="shortTermInvestmentDefaultRadio"
                (onRadioSelect)="onShortTermInvestmentSelect($event)"
              ></app-money-manager-radio>
            </span>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Purchase Date</div>
          <div class="value">
            <span id="bought-united-states-of-america-share-purchase-date"></span>
            <app-money-manager-date-picker
              [resetDatePicker]="resetPurchaseDatePicker"
              (onSelectedFullDate)="onPurchaseDateSelect($event)"
            ></app-money-manager-date-picker>
            <app-input-field-error
              *ngIf="errorFlagPurchaseDate"
              [errorMessage]="errorMessagePurchaseDate"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Purchase Quantity</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-purchase-quantity"
              placeholder="Purchase Quantity"
              (focus)="inputOnFocus('bought-united-states-of-america-share-purchase-quantity')"
              [(ngModel)]="purchaseQuantity"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseQuantity"
              [errorMessage]="errorMessagePurchaseQuantity"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Purchase Price</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-purchase-price"
              placeholder="Purchase Price"
              (focus)="inputOnFocus('bought-united-states-of-america-share-purchase-price')"
              [(ngModel)]="purchasePrice"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchasePrice"
              [errorMessage]="errorMessagePurchasePrice"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Purchase Commission</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-purchase-commission"
              placeholder="Purchase Commission"
              (focus)="inputOnFocus('bought-united-states-of-america-share-purchase-commission')"
              [(ngModel)]="purchaseCommission"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseCommission"
              [errorMessage]="errorMessagePurchaseCommission"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Purchase Transaction Fees</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-purchase-transaction-fees"
              placeholder="Purchase Transaction Fees"
              (focus)="inputOnFocus('bought-united-states-of-america-share-purchase-transaction-fees')"
              [(ngModel)]="purchaseTransactionFees"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseTransactionFees"
              [errorMessage]="errorMessagePurchaseTransactionFees"
            ></app-input-field-error>
          </div>
        </div>
        <div
          *ngIf="!isBonusCheckBoxSelected && !isSplitCheckBoxSelected"
          class="services-add-scipts-form"
        >
          <div class="key">Purchase Other Fees</div>
          <div class="value">
            <input
              type="text"
              id="bought-united-states-of-america-share-purchase-other-fees"
              placeholder="Purchase Other Fees"
              (focus)="inputOnFocus('bought-united-states-of-america-share-purchase-other-fees')"
              [(ngModel)]="purchaseOtherFees"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseOtherFees"
              [errorMessage]="errorMessagePurchaseOtherFees"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form"></div>
        <div class="services-add-scipts-clear">
          <span>
            <app-money-manager-button
              [buttonTitle]="'Clear'"
              [buttonClass]="'btn-secondary'"
              (onButtonClick)="onUnitedStatesOfAmericaSharesAddSharesClear()"
            ></app-money-manager-button>
          </span>
          <div class="services-add-scipts-submit">
            <app-money-manager-button
              [buttonTitle]="'Submit'"
              [buttonClass]="'btn-primary'"
              (onButtonClick)="onUnitedStatesOfAmericaSharesAddSharesSubmit()"
            ></app-money-manager-button>
          </div>
        </div>
      </div>
    </div>
    <app-error-modal
      *ngIf="showError"
      (closeError)="closeError()"
    >
      <span body>
        {{ errorMessage }}
      </span>
    </app-error-modal>
  
    <app-success-modal
      *ngIf="showSuccess"
      (closeSuccess)="closeSuccess()"
    >
      <span body>
        {{ successMessage }}
      </span>
    </app-success-modal>
  </div>
</div>
