<div class="bhaaratha-shares-add-short-term-investment">
  <div class="services-add-short-term-investment">
    <app-bhaaratha-shares-add-short-term-investment-header
      (onBackButtonClick)="onBackButtonClick()"
    ></app-bhaaratha-shares-add-short-term-investment-header>
    <div class="add-short-term-investment-box">
      <h3 class="add-short-term-investment-heading">
        Short Term Investment
      </h3>
      <div class="add-short-term-investment-form-container">
        <div class="add-short-term-investment-form">
          <div class="key">Stock Exchange</div>
          <div class="value">
            <span id="sti-bhaaratha-stock-exchange" (change)="inputOnFocus('sti-bhaaratha-stock-exchange')">
              <app-money-manager-radio
                [resetRadio]="resetStockExchangeRadio"
                [radioList]="stockExchangeList"
                [radioName]="'bhaarathaSharesaddShortTerminvestmentStockExchangeRadio'"
                (onRadioSelect)="onStockExchangeSelect($event)"
              ></app-money-manager-radio>
            </span>
            <div>
              <app-input-field-error
                *ngIf="errorFlagStockExchange"
                [errorMessage]="errorMessageStockExchange"
              ></app-input-field-error>
            </div>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">BSE Code</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-bse-code"
              placeholder="BSE Code"
              (focus)="inputOnFocus('sti-bhaaratha-bse-code')"
              [(ngModel)]="bseCode"
            />
            <app-input-field-error
              *ngIf="errorFlagBseCode"
              [errorMessage]="errorMessageBseCode"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Yahoo BSE Code</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-yahoo-bse-code"
              placeholder="Yahoo BSE Code"
              (focus)="inputOnFocus('sti-bhaaratha-yahoo-bse-code')"
              [(ngModel)]="yahooBseCode"
            />
            <app-input-field-error
              *ngIf="errorFlagYahooBseCode"
              [errorMessage]="errorMessageYahooBseCode"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">NSE Code</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-nse-code"
              placeholder="NSE Code"
              (focus)="inputOnFocus('sti-bhaaratha-nse-code')"
              [(ngModel)]="nseCode"
            />
            <app-input-field-error
              *ngIf="errorFlagNseCode"
              [errorMessage]="errorMessageNseCode"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Yahoo NSE Code</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-yahoo-nse-code"
              placeholder="Yahoo NSE Code"
              (focus)="inputOnFocus('sti-bhaaratha-yahoo-nse-code')"
              [(ngModel)]="yahooNseCode"
            />
            <app-input-field-error
              *ngIf="errorFlagYahooNseCode"
              [errorMessage]="errorMessageYahooNseCode"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Moneycontrol Code</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-moneycontrol-code"
              placeholder="Moneycontrol Code"
              (focus)="inputOnFocus('sti-bhaaratha-moneycontrol-code')"
              [(ngModel)]="moneycontrolCode"
              (change)="getShareNameByScriptCode()"
            />
            <app-input-field-error
              *ngIf="errorFlagMoneycontrolCode"
              [errorMessage]="errorMessageMoneycontrolCode"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Share Name</div>
          <div class="value">
            <div id="sti-bhaaratha-share-name" class="services-short-term-investment-script-name">
              <label *ngIf="shareNameLoading;else nseShareNameTemplate">
                <app-money-manager-loading></app-money-manager-loading>
              </label>
              <ng-template #nseShareNameTemplate>
                <label>
                  {{ shareName }}
                </label>
              </ng-template>
            </div>
            <app-input-field-error
              *ngIf="errorFlagShareName"
              [errorMessage]="errorMessageShareName"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Purchase Date</div>
          <div class="value">
            <span id="sti-bhaaratha-purchase-date"></span>
            <app-money-manager-date-picker
              [resetDatePicker]="resetPurchaseDatePicker"
              (onSelectedFullDate)="onPurchaseDateSelect($event)"
            ></app-money-manager-date-picker>
            <app-input-field-error
              *ngIf="errorFlagPurchaseDate"
              [errorMessage]="errorMessagePurchaseDate"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Purchase Quantity</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-purchase-quantity"
              placeholder="Purchase Quantity"
              (focus)="inputOnFocus('sti-bhaaratha-purchase-quantity')"
              [(ngModel)]="purchaseQuantity"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseQuantity"
              [errorMessage]="errorMessagePurchaseQuantity"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Purchase Price</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-purchase-price"
              placeholder="Purchase Price"
              (focus)="inputOnFocus('sti-bhaaratha-purchase-price')"
              [(ngModel)]="purchasePrice"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchasePrice"
              [errorMessage]="errorMessagePurchasePrice"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Purchase Brokerage</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-purchase-brokerage"
              placeholder="Purchase Brokerage"
              (focus)="inputOnFocus('sti-bhaaratha-purchase-brokerage')"
              [(ngModel)]="purchaseBrokerage"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseBrokerage"
              [errorMessage]="errorMessagePurchaseBrokerage"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Purchase STT</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-purchase-stt"
              placeholder="Purchase STT"
              (focus)="inputOnFocus('sti-bhaaratha-purchase-stt')"
              [(ngModel)]="purchaseSTT"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseSTT"
              [errorMessage]="errorMessagePurchaseSTT"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Purchase Expenditure</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-purchase-expenditure"
              placeholder="Purchase Expenditure"
              (focus)="inputOnFocus('sti-bhaaratha-purchase-expenditure')"
              [(ngModel)]="purchaseExpenditure"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseExpenditure"
              [errorMessage]="errorMessagePurchaseExpenditure"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form">
          <div class="key">Purchase Non Expenditure</div>
          <div class="value">
            <input
              type="text"
              id="sti-bhaaratha-purchase-non-expenditure"
              placeholder="Purchase Non Expenditure"
              (focus)="inputOnFocus('sti-bhaaratha-purchase-non-expenditure')"
              [(ngModel)]="purchaseNonExpenditure"
            />
            <app-input-field-error
              *ngIf="errorFlagPurchaseNonExpenditure"
              [errorMessage]="errorMessagePurchaseNonExpenditure"
            ></app-input-field-error>
          </div>
        </div>
        <div class="add-short-term-investment-form"></div>
        <div class="add-short-term-investment-clear">
          <span>
            <app-money-manager-button
              [buttonTitle]="'Clear'"
              [buttonClass]="'btn-secondary'"
              (onButtonClick)="onAddShortTermInvestmentClear()"
            ></app-money-manager-button>
          </span>
          <div class="add-short-term-investment-submit">
            <app-money-manager-button
              [buttonTitle]="'Submit'"
              [buttonClass]="'btn-primary'"
              (onButtonClick)="onAddShortTermInvestmentSubmit()"
            ></app-money-manager-button>
          </div>
        </div>
      </div>
    </div>

    <app-error-modal
      *ngIf="showError"
      (closeError)="closeError()"
    >
      <span body>
        {{ errorMessage }}
      </span>
    </app-error-modal>
  
    <app-success-modal
      *ngIf="showSuccess"
      (closeSuccess)="closeSuccess()"
    >
      <span body>
        {{ successMessage }}
      </span>
    </app-success-modal>
  </div>
</div>
