<div class="mm-success-modal">
  <div class="mm-success-modal-backdrop">
    <div class="mm-success-modal-dialog">
      <div class="mm-success-modal-content">
        <div class="mm-success-modal-header">
          <h3 class="mm-success-modal-title">Success!!</h3>
          <span>
            <app-money-manager-button
              [buttonClass]="'btn-close'"
              (onButtonClick)="closeSuccess()"
            >
            </app-money-manager-button>
          </span>
        </div>
        <div class="mm-success-modal-body">
          <ng-content select="[body]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
