<div class="united-states-of-america-shares-short-term-investment">
  <app-united-states-of-america-shares-short-term-investment-header
    [isRefreshButtonDisabled]="isRefreshButtonDisabled"
    (onRefreshClick)="onRefreshClick()"
    (onAddShortTermInvestmentClick)="onAddShortTermInvestmentClick()"
  ></app-united-states-of-america-shares-short-term-investment-header>
  <app-united-states-of-america-shares-short-term-investment-data
    [loading]="loading"
    [noRecords]="noRecords"
    [shortTermInvestmentDataList]="shortTermInvestmentDataList"
    [shortTermInvestmentTotal]="shortTermInvestmentTotal"
    (onShortTermInvestmentScriptClick)="onShortTermInvestmentScriptClick($event)"
    (onDeleteShortTermInvestmentClick)="onDeleteShortTermInvestmentClick($event)"
  ></app-united-states-of-america-shares-short-term-investment-data>

  <app-confirmation-modal
    *ngIf="showConfirmation"
    (onCloseConfirmation)="onCloseConfirmation()"
    (onConfirmationContinue)="onConfirmationContinue()"
  >
    <span body>
      {{ confirmationMessage }}
    </span>
  </app-confirmation-modal>

  <app-error-modal
    *ngIf="showError"
    (closeError)="closeError()"
  >
    <span body>
      {{ errorMessage }}
    </span>
  </app-error-modal>

  <app-success-modal
    *ngIf="showSuccess"
    (closeSuccess)="closeSuccess()"
  >
    <span body>
      {{ successMessage }}
    </span>
  </app-success-modal>
</div>
