<div class="united-states-of-america-shares-add-sold">
  <div class="services-add-scripts-sold">
    <app-united-states-of-america-shares-add-shares-header
      (onBackButtonClicked)="onBackButtonClicked()"
    ></app-united-states-of-america-shares-add-shares-header>
    <div class="services-add-scipts-box">
      <h3 class="services-add-scipts-heading">
        Fill the details below
      </h3>
      <div class="services-add-scipts-form-container">
        <div class="services-add-scipts-form">
          <div class="key">Yahoo Code</div>
          <div class="value">
            <input
              type="text"
              id="sold-united-states-of-america-share-yahoo-code"
              placeholder="Yahoo Code"
              (focus)="inputOnFocus('sold-united-states-of-america-share-yahoo-code')"
              [(ngModel)]="yahooCode"
              (change)="getShareName()"
            />
            <app-input-field-error
              *ngIf="errorFlagYahooCode"
              [errorMessage]="errorMessageYahooCode"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form">
          <div class="key">Share Name</div>
          <div class="value">
            <div id="sold-united-states-of-america-share-script-name" class="services-add-scipts-script-name">
              <label *ngIf="shareNameLoading;else shareNameTemplate">
                <app-money-manager-loading></app-money-manager-loading>
              </label>
              <ng-template #shareNameTemplate>
                <label>
                  {{ shareName }}
                </label>
              </ng-template>
            </div>
            <app-input-field-error
              *ngIf="errorFlagShareName"
              [errorMessage]="errorMessageShareName"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form">
          <div class="key">Sell Date</div>
          <div class="value">
            <span id="sold-united-states-of-america-share-sell-date"></span>
            <app-money-manager-date-picker
              [resetDatePicker]="resetSellDatePicker"
              (onSelectedFullDate)="onSellDateSelect($event)"
            ></app-money-manager-date-picker>
            <app-input-field-error
              *ngIf="errorFlagSellDate"
              [errorMessage]="errorMessageSellDate"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form">
          <div class="key">Sell Quantity</div>
          <div class="value">
            <input
              type="text"
              id="sold-united-states-of-america-share-sell-quantity"
              placeholder="Sell Quantity"
              (focus)="inputOnFocus('sold-united-states-of-america-share-sell-quantity')"
              [(ngModel)]="sellQuantity"
            />
            <app-input-field-error
              *ngIf="errorFlagSellQuantity"
              [errorMessage]="errorMessageSellQuantity"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form">
          <div class="key">Sell Price</div>
          <div class="value">
            <input
              type="text"
              id="sold-united-states-of-america-share-sell-price"
              placeholder="Sell Price"
              (focus)="inputOnFocus('sold-united-states-of-america-share-sell-price')"
              [(ngModel)]="sellPrice"
            />
            <app-input-field-error
              *ngIf="errorFlagSellPrice"
              [errorMessage]="errorMessageSellPrice"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form">
          <div class="key">Sell Commission</div>
          <div class="value">
            <input
              type="text"
              id="sold-united-states-of-america-share-sell-commission"
              placeholder="Sell Commission"
              (focus)="inputOnFocus('sold-united-states-of-america-share-sell-commission')"
              [(ngModel)]="sellCommission"
            />
            <app-input-field-error
              *ngIf="errorFlagSellCommission"
              [errorMessage]="errorMessageSellCommission"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form">
          <div class="key">Sell Transaction Fees</div>
          <div class="value">
            <input
              type="text"
              id="sold-united-states-of-america-share-sell-transaction-fees"
              placeholder="Sell Transaction Fees"
              (focus)="inputOnFocus('sold-united-states-of-america-share-sell-transaction-fees')"
              [(ngModel)]="sellTransactionFees"
            />
            <app-input-field-error
              *ngIf="errorFlagSellTransactionFees"
              [errorMessage]="errorMessageSellTransactionFees"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form">
          <div class="key">Sell Other Fees</div>
          <div class="value">
            <input
              type="text"
              id="sold-united-states-of-america-share-sell-other-fees"
              placeholder="Sell Other Fees"
              (focus)="inputOnFocus('sold-united-states-of-america-share-sell-other-fees')"
              [(ngModel)]="sellOtherFees"
            />
            <app-input-field-error
              *ngIf="errorFlagSellOtherFees"
              [errorMessage]="errorMessageSellOtherFees"
            ></app-input-field-error>
          </div>
        </div>
        <div class="services-add-scipts-form"></div>
        <div class="services-add-scipts-clear">
          <span>
            <app-money-manager-button
              [buttonTitle]="'Clear'"
              [buttonClass]="'btn-secondary'"
              (onButtonClick)="onUnitedStatesOfAmericaSharesAddSharesClear()"
            ></app-money-manager-button>
          </span>
          <div class="services-add-scipts-submit">
            <app-money-manager-button
              [buttonTitle]="'Submit'"
              [buttonClass]="'btn-primary'"
              (onButtonClick)="onUnitedStatesOfAmericaSharesAddSharesSubmit()"
            ></app-money-manager-button>
          </div>
        </div>
      </div>
    </div>
    <app-error-modal
      *ngIf="showError"
      (closeError)="closeError()"
    >
      <span body>
        {{ errorMessage }}
      </span>
    </app-error-modal>
  
    <app-success-modal
      *ngIf="showSuccess"
      (closeSuccess)="closeSuccess()"
    >
      <span body>
        {{ successMessage }}
      </span>
    </app-success-modal>
  </div>
</div>
