<div class="united-states-of-america-shares-add-short-term-investment-header">
  <div class="services-add-short-term-investment-header">
    <div class="header">
      <span class="left-items">
        <app-money-manager-button
          [buttonClass]="'navigation-button btn-sm'"
          (onButtonClick)="onBackButtonClick()"
        >
          <span title>
            <i class="fas fa-long-arrow-alt-left"></i> Back
          </span>
        </app-money-manager-button>
      </span>
    </div>
  </div>
</div>
